* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

center {
    height: 100vh;
    font-family: "Segoe UI", Arial, sans-serif;
}

.content-wrapper {
    height: 100%;
    width: 1200px;
    min-width: 600px;
}

.task-detailed {
    height: 50%;
}

.task-list {
    height: 50%;
    overflow-y: scroll;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: rgb(238, 238, 238)
}

.task-title {
    font-size: 25px;
}

.task-status {
    margin-bottom: 5px;
}

.task-description {
    height: 350px;
    width: 1000px;
    border: 1px solid;
    overflow-y: scroll;
    text-align: left;
    resize: none;
}

.task-list > div > div {
    float: left;
    outline: 1px solid;
    outline-offset: -2px;
    padding: 5px;
}

.task-columns > div {
    font-size: 20px;
}

.task:hover {
    cursor: pointer;

}

.task {
    width: auto;
    height: 30px;
    transition-duration: .4s
}

.task:hover {
    background-color: lightgray;
}

.t-id {
    width: 10%;
}

.t-title {
    width: 20%;
}

.t-status {
    width: 20%;
}

.t-description {
    width: 50%;
}

button {
    background-color: white;
    border: 1px solid;
    padding: 2px;
    border-radius: 5px;
}